* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Dosis', sans-serif;
  background-color: #000;
}

.container {
  color: #fff;
}

.first-section {
  background-image: url(img/123.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.side-text > * {
  padding-bottom: 20px;
}

.side-text {
  // font: Whitney, Helvetica, Arial, sans-serif;
  float: left;
  font-weight: 100;
  width:500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.second-section {
  background-color: #1b1b1b;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

.third-section {
  background: url(img/1234.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.footer {
  height: 300px;
  width: 100%;
  background-color: #000;
}