* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dosis', sans-serif;
  background-color: #000;
}

.container {
  color: #fff;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: yellow;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

.first-section {
  background-image: url(img/123.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.side-text > * {
  padding-bottom: 20px;
}

.side-text {
  // font: Whitney, Helvetica, Arial, sans-serif;
  float: left;
  width:500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.second-section {
  background-color: #1b1b1b;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

.third-section {
  background: url(img/1234.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.footer {
  height: 300px;
  width: 100%;
  background-color: #000;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  height: 100%;
  width: 100%;

}
// .fade {
//   position: absolute;
//   z-index: 10000;
//   top: 0;
//   bottom: 0;
//   height: 100%;
//   width: 100%;
//   background-color: #000;
// }