* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.container {

}

.clearfix {
  clear: both;
}

/////////////////////////////////
// HEADER ///////////////////////
.header {
  position: relative;
  height: 152px;
  background-color: #eee;
}

.head-wrapper {
  width: 1170px;
  display: block;
  margin: 0 auto;
}

.logo {
  margin-top: 22px;
  display: inline-block;
}

.search {
  vertical-align: text-bottom;
  height: 71px;
  width: 370px;
  display: inline-block;
  border-bottom: 2px solid green;
  p {
    display: inline-block;
    float: right;
  }
}

.call {
  vertical-align: text-bottom;
  height: 71px;
  width: 185px;
  display: inline-block;
}

.email {
  vertical-align: text-bottom;
  height: 71px;
  width: 185px;
  display: inline-block;
}
// HEADER //////////////////////


/////////////////////////////////
// NAVIGAION MENU ///////////////
.nav-menu {
  position: relative;
  z-index: 1;
  width: 1170px;
  height: 70px;
  display: block;
  margin: 20px auto;
  background-color: #cb5a3d;
  ul {
    list-style-type: none;
    text-align: center;
    line-height: 70px;
    font-size: 18px;
    color: #fff;
    li {
      display: inline-block;
      // margin: 0 20px;
      padding: 0 40px 0 30px;
      text-transform: uppercase;
    }
    li:before {
      content: "";
      background: url(../ico/symbol.png) no-repeat 0 4px;
      padding: 0 10px;
    }
    li:hover {
      background-color: #352f29;
    }
  }
}
// NAVIGAION MENU ///////////////


/////////////////////////////////////////////
// SLIDER SECTION ///////////////////////////
.main-slider {
  color: #fff;
  width: 100%;
  height: 460px;
  background: url(../img/photo.png) no-repeat center;
  background-size: cover;
}

.slider-text {
  position: relative;
  height: 100%;
  width: 1170px;
  display: block;
  margin: 0 auto;
}

.description {
  position: absolute;
  top: 50px;
  left: 0;
  font-size: 50px;
  display: block;
  width: 1170px;
  margin: 0 auto;
}

.description:after {
  content: "";
  background: url(../ico/underscore-green.png) no-repeat;
  height: 3px;
  margin-top: 30px;
  display: block;
}

.trans-panel {
  display: inline-block;
  height: 100%;
  width: 470px;
  margin-left: 250px;
  background: rgba(77, 158, 106, 0.6);
}

.trans-inner {
  margin-top: 280px;
}

.trans-inner a {
  color: #000;
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 3px solid #fff;
}
// SLIDER SECTION ///////////////////////////


////////////////////////////////////////
// SLIDER TOGLES SECTION //////////////
.navigation-bar {
  float: right;
  margin: 20px 150px 0 0;
  li {
    display: inline-block;
    margin: 10px;
    span {
      cursor: pointer;
      display: block;
      height: 5px;
      width: 5px;
      border: 3px solid #39945b;
    }
    span:hover {
      border: 3px solid #cb5a3d;
    }
  }
}
// SLIDER TOOGLES SECTION //////////////


///////////////////////////////////
// ABOUT SECTION //////////////////
.about {
  height: 265px;
}

.about-wrapper {
  position: relative;
  height: 100%;
  width: 1170px;
  display: block;
  margin: 0 auto;
}

.about-description {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1170px;
  margin: 0 auto;
}

.about-description:after {
  content: "";
  background: url(../ico/underscore-green.png) no-repeat;
  height: 3px;
  display: block;
}

.about-text {
  margin-left: 250px;
}
// ABOUT SECTION //////////////////

/////////////////////////////////////////
// SERVICES /////////////////////////////
.services {
  height: 440px;
}

.services-wrapper {
  position: relative;
  height: 100%;
  width: 1170px;
  display: block;
  margin: 0 auto;
}

.services-description {
  position: absolute;
  top: 50px;
  left: 0;
  display: block;
  width: 1170px;
  margin: 0 auto;
  h1 {
    transform: uppercase;
  }
}

.services-description:after {
  content: "";
  background: url(../ico/underscore-green.png) no-repeat;
  height: 3px;
  margin-top: 30px;
  display: block;
}

.services-text {
  padding: 100px 0;
  margin-left: 250px;
  background: url(../img/services-bg.png);
  text-align: center;
  .natural,
  .legal {
    display: inline-block;
    padding: 0 50px;
    ul,
    h3 {
      text-align: left;
    }
  }
}
// SERVICES /////////////////////////////


.footer {
  height: 383px;
  background-color: #352f29;
}