* {
  margin: 0;
  padding: 0; }

.container {
  position: relative; }

#canvas {
  background: #eee; }

.start {
  width: 150px;
  margin-top: 10px;
  margin-left: -75px;
  position: absolute;
  left: 50%; }

#coords {
  margin: 10px auto;
  text-align: center;
  width: 200px;
  background: yellow; }
