* {
  margin: 0;
  padding: 0; }

.container {
  background: #eee; }

#canvas {
  margin: 5px 0;
  background: #fff; }

.start {
  width: 150px;
  margin-left: -75px;
  position: absolute;
  bottom: 10%;
  left: 50%; }
