* {
  margin: 0;
  padding: 0; }

.modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all ease .5s; }

.hide {
  opacity: 0;
  transition: all ease .5s; }

.container {
  position: relative;
  transition: all ease .5s; }

#canvas {
  margin: 0 25px;
  background: #eee; }

#clear {
  margin: 25px;
  width: 120px; }

#show-radius {
  margin-top: 25px;
  width: 120px; }

#coords {
  margin: 10px auto;
  text-align: center;
  width: 200px;
  background: #eee;
  color: #000; }
