* {
  margin: 0;
  padding: 0; }

body {
  background: #eee; }

.container {
  margin: 0 auto;
  width: 80%;
  background: #c3c9de;
  text-align: center;
  padding: 0 0 30px; }

.choose {
  width: 150px;
  margin: 0 auto; }
  .choose p {
    padding: 20px 0 0; }
  .choose select {
    margin: 20px; }

input {
  width: 40px;
  height: 40px;
  text-align: center; }

#frm {
  display: inline-block;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); }

#calc {
  height: 30px;
  width: 100px;
  display: block;
  margin: 20px auto 0; }
