* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
}

.container {
  color: #fff;
  position: relative;
  overflow: hidden;
}

.clearfix {
  clear: both;
}

//////////////////////////////////
////// RIGHT NAVIGATION MENU /////
//////////////////////////////////
.navigation {
  position: fixed;
  top: 40%;
  right: 15px;
  z-index: 1;
  display: block;
  text-align: right;
}

.nav-row {
  margin-bottom: 5px;
  padding-bottom: 15px;
}

ul {
  list-style-type: none;
}

.dot {
  position: relative;
  top: 3px;
  width:10px;
  height:10px;
  background:#666;
  cursor:pointer;
  border-radius:50%;
  // margin-bottom: 10px;
  border:1px solid rgba(102, 102, 102, .3);
  float: right;
  display: inline-block;
}

.dot-active {
  background: #fff;
  transform: scale(1.3);
}

.tips {
  // font-weight: bold;
  font-family: 'Playfair Display', serif;
  // text-transform: uppercase;
  color: #fff;
  // float: right;
  cursor: pointer;
  display: inline-block;
  padding-right: 5px;
  // margin: -5px -100px;
  opacity: 0;
    transition: transform .2s,opacity .2s;
    transition-property: transform, opacity;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: initial, initial;
    transition-delay: initial, initial;
}

.nav-row:hover .tips {
  opacity: 1;
}

.nav-row:hover .dot {
  transition: all ease .2s;
  transform: scale(1.3);
} //////////////////////////////////


//////////////////////////////
/////////// BURGER ///////////
//////////////////////////////
#nav-icon1 {
  width: 30px;
  height: 25px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 9px;
}

#nav-icon1 span:nth-child(3) {
  top: 18px;
}

#nav-icon1.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -30px;
}

#nav-icon1.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
} ////////// BURGER END ///////////

//////////////////////////////////////////////////////////////////////////////////////////
// FIRST SECTION /////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
.first-section {
  position: relative;
  background-image: url(img/mac.jpg),
                    url(ico/arrow.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  clear: both;
  display: table;
}

.intro {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.intro p {
  margin: 5px;
  font-size: 35px;
  color: rgba(255, 255, 255, .8);
}

.division {
  width: 100px;
  height: 2px;
  display: inline-block;
  background-color: rgba(255, 255, 255, .7);;
}

.first-section img {
  border: 1px solid rgba(255, 255, 255, .7);
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, .7);
  // box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.first-section img:hover {
  transition: all ease .2s;
  transform: scale(1.3);
  cursor: pointer;
} // FIRST SECTION /////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////
// SECOND SECTION ////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
.second-section {
  background-color: #1d1f25;
}

.about-container {
  margin: 0 auto;
  width: 80%;
  padding: 50px 10px;
  text-align: center;
    vertical-align: middle;
}

.about-wrap {
  display: block;
  // vertical-align: middle;
  text-align: center;
}

.about-wrap:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.about-content-left {
  padding: 20px 50px;
  display: inline-block;
  vertical-align: middle;
  min-width: 200px;
  vertical-align: middle;
}

.about-content-right {
  display: inline-block;
  vertical-align: middle;
  padding: 20px 50px;
}

.about-content-right img {
  border-radius: 50%;
}
//////////////////////////////////////////////////////////////////////////////////////////
// THIRD SECTION /////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
.third-section {
  position: relative;
  background: url(img/land.jpg) repeat;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
}

.exp-head {
  text-align: center;
  width: 225px;
  padding: 5px;
  margin: 35px auto;
  border-bottom: 3px solid rgba(46, 38, 47, .8);
}

.exp-head h1 {
  margin: 0;
  color: rgba(46, 38, 47, .8);
}

.block-left {
  padding: 40px 0;
  position: relative;
  width: 50%;
  height: 200px;
  // border: 1px solid #000;
  clear: both;
}

.block-content-left {
  float: right;
  // position: absolute;
  display: inline-block;
  height: 100%;
  width: 70%;
  margin-right: 60px;
  background-color: rgba(46, 38, 47, .9);
  border-radius: 4px;
  transition: all ease .3s;
}

.block-content-left:after {
  content: '';
  // margin-top: -10px;
  position: absolute;
  right: 20px;
  top: 70px;
  border: 20px solid transparent;
  border-left: 20px solid rgba(46, 38, 47, .9);
  transition: all ease .3s;
}

.block-ico-left {
  position: absolute;
  top: 60px;
  right: -30px;
  // margin-top: -30px;
  display: inline-block;
vertical-align: middle;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: rgb(46, 38, 47);
  transition: all ease .3s;
}

.block-right {
  // display: block;
  float: right;
  padding: 40px 0;
  position: relative;
  width: 50%;
  // height: 200px;
  // border: 1px solid #000;
  clear: both
}

.block-content-right {
  float: left;
  // position: absolute;
  display: inline-block;
  height: 100%;
  width: 70%;
  margin-left: 60px;
  background-color: rgba(46, 38, 47, .9);
  border-radius: 4px;
  transition: all ease .3s;
}


.block-content-right:before {
  content: '';
  // margin-top: -10px;
  position: absolute;
  left: 20px;
  top: 70px;
  border: 20px solid transparent;
  border-right: 20px solid rgba(46, 38, 47, .9);
  transition: all ease .3s;
}

.block-ico-right {
  position: absolute;
  top: 60px;
  left: -30px;
  // margin-top: -30px;
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: rgb(46, 38, 47);
  transition: all ease .3s;
}

.exp-ico {
  display: block;
  margin: 14px auto;
  height: 30px;
  width: 30px;
}

.ico-edu {
  background: url(ico/graduate-cap.png) no-repeat center;
  background-size: cover;
}

.ico-work {
  background: url(ico/briefcase.png) no-repeat center;
  background-size: cover;
}

.description-left {
  position: absolute;
  min-width: 200px;
  top: 15px;
  left: 70px;
  color: rgba(255,253,248, .9);
  font-size: 20px;
}

.description-right {
  position: absolute;
  min-width: 200px;
  top: 5px;
  right: 65px;
  color: rgba(255, 253, 248, .9);
  font-size: 20px;
}

.block-content-left:hover + .block-ico-left,
.block-content-right:hover + .block-ico-right {
  background-color: #705473;
  transition: all ease .3s;
}

.block-content-left:hover,
.block-content-right:hover {
  background-color: #29222A;
  transition: all ease .3s;
}

.block-content-right:hover:before {
  border: 20px solid transparent;
  border-right: 20px solid #29222A;
  transition: all ease .3s;
}

.block-content-left:hover:after {
  border: 20px solid transparent;
  border-left: 20px solid #29222A;
  transition: all ease .3s;
}

.third-section a,
.third-section a:link,
.third-section a:visited,
.third-section a:active {
  color: #ae7c41;
  text-decoration: none;
}

.third-section a:hover{
  color: #ff961b;
}

.block-content-right p,
.block-content-right ul, {
  padding: 20px 30px 20px;
  text-align: left;
  list-style-type: circle;
}

.block-content-right {
  text-align: center;
}

.vertical-arrow {
  position: absolute;
  width: 50%;
  height: 100%;
  margin-left: -2px;
  border-right: 4px solid rgba(197, 184, 191, .5);
} // THIRD SECTION /////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////
// FOURTH SECTION ////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
.skills-wrapper {
  padding: 50px 0;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.skills-title {
  font-size: 25px;
  padding: 30px 0 10px;
  border-bottom: 3px solid #000;
  width: 120px;
  text-align: center;
  margin: 0 auto;
  // display: inline-block;
}

.skills-content {
  display: inline-block;
  // background-color: rgba(83, 83, 83, .3);
}

.skills-left {
  text-align: center;
  display: inline-block;
}

.skills-border {
  width: 330px;
  display: inline-block;
  padding: 0 20px;
  // border-right: 1px solid rgba(0, 0, 0, .1);
  text-align: left;
}

.skills-left p {
    margin-bottom: 20px;
}

.skills-right p {
    margin-bottom: 20px;
}

.skills-right {
  // text-align: center;
  padding: 0 20px;
  display: inline-block;
  width: 330px;
  vertical-align: top;
  // background-color: rgba(83, 83, 83, .3);
}

.tools-wrap {
  display: block;
  margin: 0 auto;
  width: 330px;
  text-align: left;
}

.skills-left span {
  margin: 4px 2px;
  display: inline-block;
  height: 100px;
  width: 100px;
  background-image: url(ico/sprite-1.png);
  background-repeat: no-repeat;
  // background-color: rgba(255, 255, 255, .4);
}

.skills-right span {
  margin: 4px 2px;
  display: inline-block;
  height: 100px;
  width: 100px;
  background-image: url(ico/sprite-2.png);
  background-repeat: no-repeat;
  // background-color: rgba(255, 255, 255, .4);
}

.skills-right p {
  text-align: center;
}

// FIRST ICON ROW ////////////
.tech-ico-1  {background-position: 0 0;}
.tech-ico-2  {background-position: -100px 0;}
.tech-ico-3  {background-position: -200px 0;}
.tech-ico-4  {background-position: 0 -100px;}
.tech-ico-5  {background-position: -100px -100px;}
.tech-ico-6  {background-position: -200px -100px;}
.tech-ico-7  {background-position: 0 -200px;}
.tech-ico-8  {background-position: -100px -200px;}
.tech-ico-9  {background-position: -200px -200px;}
.tech-ico-10 {background-position: 0 -300px;}
// SECOND ICON ROW /////////////
.tools-ico-1 {background-position: 0 0;}
.tools-ico-2 {background-position: -100px 0;}
.tools-ico-3 {background-position: -200px 0;}
.tools-ico-4 {background-position: -300px 0;}
.tools-ico-5 {background-position: -400px 0;}


.fourth-wrapper {
  width: 100%;
  height: 100%;
  display: table;
}

.fourth-section {
  color: #000;
  background: url(img/bg-footer.png) top repeat-x,
              url(img/background.jpg);
  // background-size: cover;
  // background-repeat: no-repeat;
  // height: 100vh;
  width: 100%;
} // THIRD SECTION /////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////
// FIFTH SECTION /////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
.contact-title {
  font-size: 25px;
  padding: 30px 0 10px;
  border-bottom: 3px solid #000;
  margin-left: 30px;
  margin-bottom: 30px;
  width: 140px;
  color: #000;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.contact-container {
  display: table;
  height: 100%;
  width: 50%;
  margin: 0 auto;
  padding: 50px 0;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.contact-input {
  display: table-cell;
  vertical-align: middle;
}

.contact-input input,
.contact-input textarea {
  width: 100%;
  min-width: 300px;
  box-sizing: border-box;
  margin-bottom: 2px;
}

.contact-input button {
  width: 100%;
}

.fifth-section {
  padding: 80px 0;
  background: url(img/contact-strip.jpg) top repeat-x,
              url(img/contact-strip-vert.jpg) left repeat-y,
              url(img/contact-strip.jpg) bottom repeat-x,
              url(img/contact-strip-vert.jpg) right repeat-y;
  background-color: #b3d4fc;
  // height: 100vh;
  width: 100%;
} // FIFTH SECTION /////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
.footer {
  height: 200px;
  width: 100%;
  background: url(img/cork-wallet.png);
  display: flex;
  align-items: center;
  color: #000;
}

.rocket {
  border: none;
  background-image: url(ico/startup.svg);
  margin: 0 5% 0 auto;
  height: 70px;
  width: 70px;
  transition: all ease-in .5s;
}


// .rocket:hover {
//   // background-image: url(ico/startup-hover.svg);
//   transition: all ease-in 1.5s;
// }

.invisible {
  display: none;
}

.fire-off {
  // background-image: url(ico/startup-hover.svg);
  transition: all ease-in 1.5s;
  -webkit-transform: translate(0, -10000px);
  -moz-transform: translate(0, -10000px);
  -o-transform: translate(0, -10000px);
}

// .fire-on {
//   transition: all ease-in .2s;
//   -webkit-transform: translate(0, -150px);
//   -moz-transform: translate(0, -150px);
//   -o-transform: translate(0, -150px);
// }

.wrapper {
  color: rgba(255, 255, 255, 0);
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all ease .5s;
  z-index: -1;
}

.wrapper-faded {
  color: rgba(255, 255, 255, 1);
  background: rgba(44, 47, 54, 1);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all ease .5s;
  z-index: 0;
}

.faded-menu {
  position: fixed;
  margin-top: -150px;
  margin-left: -150px;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.faded-menu li {
}


.faded-menu h1 {
  margin: 0 0 10px;
  padding: 0;
  transition: all ease .5s;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgba(255, 255, 255, .8);
  font-weight: lighter;
}

.faded-menu h1:hover {
  transition: all ease .5s;
  transform: translate(35px, 0);
}

.faded-menu h1:hover:before{
  opacity: 1;
}

.faded-menu h1:before {
 content: "";
 background: url("img/suriken.png") no-repeat;
 width: 30px;
 height: 30px;
 float: left;
 margin: 3px 6px 0 0;
 opacity: 0;
}


@media only screen and (max-device-width: 960px) {
  .navigation{
    display: none;
  }
}

@keyframes trambling-animation {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    10%, 30% {
        transform: rotate(-10deg);
    }
    20%, 40% {
        transform: rotate(10deg);
    }
}

#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100500;
}

#page-preloader .spinner {
  width: 128px;
  height: 128px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url('img/preloader.gif') no-repeat;
  margin: -64px 0 0 -64px;
}