body {
  background: url(../img/alps.jpg) no-repeat fixed;
  background-size: cover; }

.container {
  background-color: #eee;
  margin-bottom: 50px;
  padding: 0;
  max-width: 980px; }

header {
  background-color: #0058e0;
  padding: 10px; }
  header img {
    height: 150px;
    width: 150px;
    float: left; }
  header h1, header h2, header h3, header h4 {
    color: #fff; }

.content img {
  width: 100%;
  padding: 20px 0; }

.footer {
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  text-align: center; }
