body {
  background: url(../img/alps.jpg) no-repeat fixed;
  background-size: cover;
}

.container {
  background-color: #fff;
  margin-bottom: 50px;
  padding: 0;
  max-width: 980px;
  box-shadow: 0 0 25px rgba(0, 0, 0, .7);
}

.wrapper {
  padding: 15px;
}

header {
  background-color: #0058e0;
  img {
    height: 150px;
    width: 150px;
    float: left;
  }
  h1, h2, h3, h4 {
    color: #fff;
  }
}

.content {
  padding: 0;
  img {
    width: 100%;
    padding: 20px 0;
  }
}

.container h4 {
  padding: 0;
}

.footer {
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, .1);
}